.nav-link.active {
    color: #f45d96 !important;
    font-weight: 600;
    transition: 0.1s all ease;
}
.img-container:hover .img-card{
    opacity: 100 !important;
}
.img-card{
    transition: opacity 0.3s ease-in-out;
}
.card {
    transition: all 0.3s ease;
}
.product-text{
    opacity: 100;
    transition: opacity 0.3s ease;
}
.card:hover .product-text{
    opacity: 0;
}
.card:hover .product-btn{
    opacity: 100 !important;
}
.hov-btn{
    transition: 0.3s;
}
.hov-btn:hover{
    color: white !important;
    background-color: #f45d96 !important;
}
.active-btn{
    border: #f45d96 2px solid !important;
}