
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CZ:wght@100..400&display=swap');

.nav-link.active {
    color: #f45d96 !important;
    font-weight: 600;
    transition: 0.1s all ease;
}
.img-container:hover .img-card{
    opacity: 100 !important;
}
.img-card{
    transition: opacity 0.3s ease-in-out;
}
.card {
    transition: all 0.3s ease;
}
.product-text{
    opacity: 100;
    transition: opacity 0.3s ease;
}
.card:hover .product-text{
    opacity: 0;
}
.card:hover .product-btn{
    opacity: 100 !important;
}
.hov-btn{
    transition: 0.3s;
}
.hov-btn:hover{
    color: white !important;
    background-color: #f45d96 !important;
}
.active-btn{
    border: #f45d96 2px solid !important;
}
.shado{
    text-shadow: #f45d96 2px 2px 4px ;
}
.required::after{
    content: '*';
    color: #f45d96;
    font-weight: bold;
}
.image{
    background-image: url(https://preview.colorlib.com/theme/florist/img/call-bg.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.font{
    font-family: 'Dancing Script';
    font-size: 60px;
}
.cart:hover .card-name{
    background-color: #f45d96 !important;
    cursor: pointer;
}
.cart:hover .card-title{
    text-decoration: underline;
    cursor: pointer;
}